@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}


html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

/* ::-moz-selection { 
color: #fff;
background: #009A92;
}

::selection {
color: #fff;
background: #009A92;
} */


.menus::-webkit-scrollbar {
  width: .4rem;
}
 
.menus::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.menus::-webkit-scrollbar-thumb {
  background-color: #efb13b;
  /* outline: 1px solid slategrey; */
}

body {
/* max-width: 1550px; */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: #000;
  background-color: white;
}



button:focus {
  outline: none;
}

a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
input,textarea,select{
  outline: none;
  color: gray;
}
input,textarea,select::placeholder{
  color: gray;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}



.counter{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
}